.forms-wrap
    width: 80%
    background-color: #ffffff
    border-radius: $border-radius
    margin: 0 auto
    padding: 10px
    form
        padding: 30px
        border: $color-el 3px solid
        border-radius: $border-radius
    .form-input
        height: 60px
        border: 0
        background-color: $input
        font-size: 20px
    .btn-form
        width: 100%
        height: 60px
        font-size: 22px
    .form-policy
        font-size: 14px
        text-align: center
        margin-top: 20px
.contacts-form
    width: 80%
    margin: auto
    margin-top: 30px
    .col
        &:first-child
            border-right: #ffffff 3px solid
    .contacts-form-text
        font-size: 20px
        color: #ffffff
        +Medium
        margin-bottom: 15px
        &.form-text-call
            padding-left: 40px
            background-image: url(../img/phone-call-2.png)
            background-size: auto 25px
            background-repeat: no-repeat
    .contacts-wrap
        .contacts-icon
            color: #ffffff
            font-size: 24px
            padding-left: 40px
            background-size: auto 25px
            &:first-child
                margin-bottom: 5px
    .messenger-icon-wrap
        .social-icon
            width: 40px

