.img-gallery
    width: 100%
    height: 220px
    object-fit: cover
    border-radius: $border-radius
    +transition
    &:hover
        filter: brightness(80%)
        +transition
.tabs-wrap .main-gallery-tab .nav-link
    font-size: 18px

@media (max-width: 1199.98px)
    .img-gallery
        height: 220px

@media (max-width: 991.98px)
    .img-gallery

@media (max-width: 575.98px)
    .img-gallery
        height: 130px