.item-tick
    font-size: 20px
    +Medium
    color: $dark
    background-color: #ffffff
    border-radius: $border-radius
    padding: 20px 20px
    padding-left: 65px
    background-image: url(../img/check.png)
    background-size: auto 30px
    background-repeat: no-repeat
    background-position: 20px 20px
.tick-list
    .row
        list-style-type: none
        counter-reset: my-counter
        .num
            display: block
            font-size: 70px
            padding-left: 60px
            +Bold
            color: $color-el
            margin-top: -15px
            margin-bottom: -15px
            &::after
                line-height: 0
                content: counter(my-counter) /* Выводим число */
                counter-increment: my-counter /* Увеличиваем значение счётчика */
                content: "0" counter(my-counter)
    .tick-list-item
        padding-left: 60px
        background-image: url(../img/check.png)
        background-size: auto 40px
        background-repeat: no-repeat
        .tick-list-title
            margin-top: 10px
            font-size: 24px
            line-height: 1.1
            +Semibold
            margin-bottom: 10px
        .tick-list-subtitle
            +Medium
.tick-list-tab
    margin-top: 30px
    width: 75%
    .row
        list-style-type: none
        .tick-tab-item
            padding-left: 40px
            background-image: url(../img/check.png)
            background-size: auto 25px
            background-repeat: no-repeat
            .tick-tab-title
                font-size: 22px
                +Medium

@media (max-width: 991.98px)
    .tick-list
        .row
            .num
                font-size: 50px
                padding-left: 40px
        .tick-list-item
            padding-left: 40px
            background-size: auto 30px
            .tick-list-title
                margin-top: 10px
                font-size: 22px
                line-height: 1.1
                +Semibold
                margin-bottom: 10px
    .tick-list-tab
        width: 100%
        .row
            .tick-tab-item
                .tick-tab-title
                    font-size: 20px

@media (max-width: 767.98px)
    .tick-list
        .row
            .num
                padding-left: 40px
                font-size: 40px
                margin-top: -10px
        .tick-list-item
            .tick-list-title
                font-size: 20px
                +Semibold
            .tick-list-subtitle
                font-size: 16px
    .tick-list-tab
        margin-top: 15px
        .row
            .tick-tab-item
                padding-left: 35px
                background-size: auto 20px
                .tick-tab-title
                    font-size: 18px