section
    position: relative
.section-padding
    padding: 70px 0
.section-padding-bottom
    padding-bottom: 70px
.section-title
    width: 80%
    font-size: 42px
    +Semibold
    text-align: center
    margin: 0 auto
    margin-bottom: 30px
.section-text 
    ol
        padding-left: 1.3rem
section .why-about
    width: 75%
    .section-title
        text-align: left
        width: 100%
.sec-gray
    background-color: $gray
.section-description
    font-size: 20px
    +Medium
    margin-bottom: 40px
.section-subtitle
    width: 60%
    font-size: 22px
    text-align: center
    +Medium
    margin: 0 auto
    margin-bottom: 40px

@media (max-width: 1199.98px)
    .section-title
        font-size: 36px
    .section-subtitle
        font-size: 20px
