*
    box-sizing: border-box

$border-radius: 5px

@mixin transition 
    transition: all 300ms ease

@import 'colors'
@import 'fonts'

body
    background-color: #ffffff
    font-size: 18px
    line-height: 1.3
    color: $dark
    +Regular

a 
    color: $dark
    text-decoration: none
a:hover
    color: $dark

ol, ul
    padding: 0
    margin: 0

button:active, button:focus, a:active, a:focus,
input, input:active, input:focus, input:active
    outline: 0 !important
    outline-offset: 0 !important
    box-shadow: none !important

.btn
  box-shadow: none !important

button::-moz-focus-inner,
a::-moz-focus-inner
  border: 0


h1
    position: relative
    font-size: 46px
    +Semibold
    line-height: 1.2

.btn
    display: table-cell
    background-color: $color-el
    height: 50px
    padding: 0 20px
    border-radius: $border-radius
    vertical-align: middle
    +Semibold
    &:hover
        background-color: darken($color-el, 5%)

.btn-main
    height: 60px
    padding: 0 40px
    font-size: 22px
.btn-main-card
    height: 45px
    font-size: 18px

.btn-big
    height: 70px
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    background-color: $gray
    font-size: 22px

.dropdown-toggle::after
    vertical-align: middle

.dropdown-menu[data-bs-popper]
    margin-top: 0

.nav
    // flex-wrap: nowrap

.label-in-stock
    position: absolute
    background-color: $green
    color: #ffffff
    font-size: 16px
    line-height: 1
    white-space: nowrap
    +Semibold
    border-radius: $border-radius
    padding: 10px 12px
    padding-left: 28px
    top: 20px
    right: 20px
    z-index: 1
    &:before
        position: absolute
        content: '•'
        color:#ffffff
        font-size: 35px
        top: 50%
        transform: translateY(-50%)
        left: 10px
        animation-name: blinker
        animation-iteration-count: infinite
        animation-timing-function: cubic-bezier(1.0,0,0,1.0)
        animation-duration: 1s


@keyframes blinker
  from 
      opacity: 1.0
  to 
      opacity: 0.0

@keyframes rotate
        0%   
            transform: rotate(5deg)
        25%  
            transform: rotate(10deg)
        50% 
            transform: rotate(5deg)
        75%  
            transform: rotate(0deg)
        100% 
            transform: rotate(5deg)


@import 'header'
@import 'menu-button'
@import 'forms'
@import 'item'
@import 'header'
@import 'main-slider'
@import 'section'
@import 'tabs'
@import 'card-main'
@import 'why-about'
@import 'gallery'
@import 'section-form'
@import 'section-about'
@import 'section-step-tab'
@import 'map'
@import 'footer'

@media (max-width: 1199.98px)
    h1
        font-size: 42px

@media (max-width: 991.98px)
    h1
        font-size: 36px

@media (max-width: 767.98px)
    h1
        font-size: 32px